:root {
    --primary-color: #f5f9fd;
    --secondary-color: #d3e8ff;
    background: var(--primary-color);
}

.primary {
    background-color: var(--primary-color);
}

.secondary {
    background-color: var(--secondary-color);
}