:root {
    --primary-color: #f5f9fd;
    --secondary-color: #d3e8ff;
    background: var(--primary-color);
}

body {
    font-family: 'Monaco', monospace;
    line-height: 1.6;
    background: var(--primary-color);
}

.primary {
    background-color: var(--primary-color);
}

.secondary {
    background-color: var(--secondary-color);
}

.nav-item:hover {
    opacity: 0.7;
    background-color: var(--primary-color);
}